{% extends "base.html" %}
{%load unslugify %}
{%block titulo%}Uso y aplicación de Abono{%endblock%}
{% block extra_header %}
 <script type="text/javascript">
    var activo = 0; 
    function click_callback(id){
        $.getJSON('/grafo/migrar/' + id, function(data) {
            if (activo!= id){
                $("#grafo").html('<img src="' + data.url + '" />');
                activo = id;
            }else{
                $("#grafo").html('');
                activo = 0;
            }
        });
    }
</script>
{%endblock%}
{% block contenido %}
<div id="contenedor_servicio">
    <a href="/fincas" class="fincas">Uso Tierra</a>
    <a href="/abono"class="luz">Suelo</a>
    <a href="/cultivos"class="cultivos">Cultivos</a>
    <a href="/animales"class="animales">Animales</a>
    <a href="/postcosecha"class="arboles">Post Cosecha</a>
    <a href="/riego"class="servicios">Riego</a>
</div>
<div id="sidebar">
    <div class="graficos_widget">
       <h1>Manejo de suelo</h1>
        <a id="grafico1" href="#" onCLick="click_callback('actividad')">Hacen actividades conservación?</a>
        <a id="grafico2" href="#" onCLick="click_callback('conservacion')">Si, que actividades</a>
    </div>
</div>
<div id="grafo"></div>
<table>
<caption>Uso de Abonos</caption>
 <thead>
    <tr>
        <th></th>
        <th>si</th>
        <th>%</th>
        <th>no</th>
        <th>%</th>
        <th>pulpa</th>
        <th>estiercol</th>
        <th>gallinaza</th>
        <th>composta</th>
    </tr>
  </thead>
    {%for fila in tabla_abono_sup%}
    <tr>
        {%for celda in fila%}
        <td>{{celda}}</td>
        {%endfor%}
    </tr>
    {%endfor%}
    <tr>
        <th></th>
        <th>lombrices</th>
        <th>bocachi</th>
        <th>foliar</th>
        <th>verde</th>
        <th>hojas</th>
        <th>quince</th>
        <th>veinte</th>
        <th>urea</th>
    </tr>
    {%for fila in tabla_abono_inf%}
    <tr>
        {%for celda in fila%}
        <td>{{celda}}</td>
        {%endfor%}
    </tr>
    {%endfor%}
</table>

<!--esta es la tabla de compra y aplicacion de abono-->

<table>
<caption>Compra y aplicación de abonos</caption>
 <thead>
    <tr>
        <th>Tipo de abono</th>
        <th>Unidad</th>
        <th>¿Cuanto hace?</th>
        <th>¿Cuanto compra?</th>
        <th>¿cuanto aplica?</th>
    </tr>
  </thead>
    <tr>
        <td>Pulpa</td>
        <td>---</td>   
        {%for key, value in tabla_compra.items%}
        <td>{{value.pulpa|floatformat}}</td>
        {%endfor%}
    </tr>
    <tr>
        <td>Estiercole</td>
        <td>---</td>   
        {%for key, value in tabla_compra.items%}
        <td>{{value.estiercol|floatformat}}</td>
        {%endfor%}
    </tr>
    <tr>
        <td>Gallinaza</td>
        <td>---</td>   
        {%for key, value in tabla_compra.items%}
        <td>{{value.gallinaza|floatformat}}</td>
        {%endfor%}
    </tr>
    <tr>
        <td>Composta</td>
        <td>---</td>   
        {%for key, value in tabla_compra.items%}
        <td>{{value.composta|floatformat}}</td>
        {%endfor%}
    </tr>
    <tr>
        <td>Lombrices</td>
        <td>---</td>   
        {%for key, value in tabla_compra.items%}
        <td>{{value.lombrices|floatformat}}</td>
        {%endfor%}
    </tr>
    <tr>
        <td>Bocachi</td>
        <td>---</td>   
        {%for key, value in tabla_compra.items%}
        <td>{{value.bocachi|floatformat}}</td>
        {%endfor%}
    </tr>
    <tr>
        <td>foliar Organico</td>
        <td>kg</td>   
        {%for key, value in tabla_compra.items%}
        <td>{{value.foliar_org|floatformat}}</td>
        {%endfor%}
    </tr>
    <tr>
        <td>Foliar Quimico</td>
        <td>litro</td>   
        {%for key, value in tabla_compra.items%}
        <td>{{value.foliar_qui|floatformat}}</td>
        {%endfor%}
    </tr>
    <tr>
        <td>Verde</td>
        <td>---</td>   
        {%for key, value in tabla_compra.items%}
        <td>{{value.verde|floatformat}}</td>
        {%endfor%}
    </tr>
    <tr>
        <td>15-15-15</td>
        <td>---</td>   
        {%for key, value in tabla_compra.items%}
        <td>{{value.quince|floatformat}}</td>
        {%endfor%}
    </tr>
    <tr>
        <td>20-20-20</td>
        <td>---</td>   
        {%for key, value in tabla_compra.items%}
        <td>{{value.veinte|floatformat}}</td>
        {%endfor%}
    </tr>
    <tr>
        <td>18-6-12-4</td>
        <td>---</td>   
        {%for key, value in tabla_compra.items%}
        <td>{{value.seis|floatformat}}</td>
        {%endfor%}
    </tr>
    <tr>
        <td>Urea-Nitrato</td>
        <td>---</td>   
        {%for key, value in tabla_compra.items%}
        <td>{{value.urea|floatformat}}</td>
        {%endfor%}
    </tr>
</table>
{% endblock %}
