{% extends "base.html" %}
{% block title %}Condiciones{% endblock %}
{%block titulo%}Condiciones{%endblock%}
{% block contenido %}
<div id="contenedor_servicio">
    <a href="/familia" class="familia">Familia</a>
    <a href="/postcosecha" class="educacion">Post Cosecha</a>
    <a href="/fincas"class="fincas">Finca</a>
    <a href="/abono"class="luz">Abono y aplicacion</a>
    <a href="/riego"class="luz">Riego</a>
    <a href="/condiciones"class="luz">Condiciones</a>
</div>
<table>
<caption>Condiciones en el campo</caption>
 <thead>
    <tr>
        <th></th>
        {%for id, columna in columnas%}
        <th>{{columna}}</th>
        {%endfor%}
    </tr>
 </thead>
    {% for fila in tabla%}
    <tr>
        {%for celda in fila%}
        <td>{{celda}}</td>
        {%endfor%}
    </tr>
    {%endfor%}
</table>
<div class="separador"></div>
{% endblock %}

