{% extends "base.html" %}
{%load unslugify %}
{%block titulo%}Post Cosecha{%endblock%}
{% block extra_header %}
 <script type="text/javascript">
    var activo = 0; 
    function click_callback(id){
        $.getJSON('/grafo/migrar/' + id, function(data) {
            if (activo!= id){
                $("#grafo").html('<img src="' + data.url + '" />');
                activo = id;
            }else{
                $("#grafo").html('');
                activo = 0;
            }
        });
    }
</script>
{%endblock%}
{% block contenido %}
<div id="contenedor_servicio">
    <a href="/fincas" class="fincas">Uso Tierra</a>
    <a href="/abono"class="luz">Suelo</a>
    <a href="/cultivos"class="cultivos">Cultivos</a>
    <a href="/animales"class="animales">Animales</a>
    <a href="/postcosecha"class="arboles">Post Cosecha</a>
    <a href="/riego"class="servicios">Riego</a>
</div>

<div id="sidebar">
    <div class="graficos_widget">
       <h1>Principales problemas y soluciones</h1>
        <a id="grafico1" href="#" onCLick="click_callback('tipoproblema')">Tipos Problemas</a>
        <a id="grafico2" href="#" onCLick="click_callback('tiposolucion')">Tipos Soluciones</a>
    </div>
</div>
<div id="grafo"></div>

<table>
<caption>Tabla PostCosecha</caption>
 <thead>
    <tr>
        <th>Producto</th>
        <th>Cantidad Almacenada(qq)</th>
        <th colspan="3">Responsable de Almacenamiento</th>
        <th colspan="7">Tipo de almacenaje</th>
    </tr>
    <tr>
        <th></th>
        <th></th>
        <th>Hombres %</th>
        <th>Mujeres %</th>
        <th>Hijos/as %</th>
        <th>Silo %</th>
        <th>Troja Mejorado %</th>
        <th>Troja Rustica %</th>
        <th>Sacos %</th>
        <th>Bolsa plastica %</th>
        <th>Barril %</th>
        <th>Casa %</th>
    </tr>
 </thead>
    <tr>
        {%for key, value in tabla.items%}
        <tr>
        <td>{{key|unslugify}}</td>
        <td>{{value.cantidad|floatformat}}</td>
        <td>{{value.porcentaje_hombres|floatformat}}</td>
        <td>{{value.porcentaje_mujeres|floatformat}}</td>
        <td>{{value.porcentaje_hijos|floatformat}}</td>
        <td>{{value.porcentaje_sm|floatformat}}</td>
        <td>{{value.porcentaje_tm|floatformat}}</td>
        <td>{{value.porcentaje_tr|floatformat}}</td>
        <td>{{value.porcentaje_s|floatformat}}</td>
        <td>{{value.porcentaje_bp|floatformat}}</td>
        <td>{{value.porcentaje_b|floatformat}}</td>
        <td>{{value.porcentaje_casa|floatformat}}</td>
    </tr>
        {%endfor%}

</table>


{% endblock %}
