{% extends "base.html" %}
{%load unslugify %}
{% block title %}JFPS - Salud{% endblock %}
{%block titulo%}La Salud{%endblock%}
{%block extra_header%}
<script type="text/javascript">
    //si activo es 0 el html interno esta vacio
    //caso si activo es otro num sustituir grafico
    //si activo es el mismo id, esconder grafico
    var activo = 0; 
    function click_callback(id){
        $.getJSON('/grafo/salud/' + id, function(data) {
            if (activo!= id){
                $("#grafo").html('<img src="' + data.url + '" />');
                activo = id;
            }else{
                $("#grafo").html('');
                activo = 0;
            }
        });
    }
$(document).ready(function() {
    $("#grafico1").click(function(){
        $("#grafico1").addClass('enlace_seleccionado');
        $("#grafico2").removeClass('enlace_seleccionado');
        $("#grafico3").removeClass('enlace_seleccionado');
        $("#grafico4").removeClass('enlace_seleccionado');
        $("#grafico5").removeClass('enlace_seleccionado');
        $("#grafico6").removeClass('enlace_seleccionado');
    });
    
    $("#grafico2").click(function(){
        $("#grafico2").addClass('enlace_seleccionado'); 
        $("#grafico1").removeClass('enlace_seleccionado');
        $("#grafico3").removeClass('enlace_seleccionado');
        $("#grafico4").removeClass('enlace_seleccionado');
        $("#grafico5").removeClass('enlace_seleccionado');
        $("#grafico6").removeClass('enlace_seleccionado');
    });

    $("#grafico3").click(function(){
        $("#grafico3").addClass('enlace_seleccionado'); 
        $("#grafico1").removeClass('enlace_seleccionado');
        $("#grafico2").removeClass('enlace_seleccionado');
        $("#grafico4").removeClass('enlace_seleccionado');
        $("#grafico5").removeClass('enlace_seleccionado');
        $("#grafico6").removeClass('enlace_seleccionado');
    });
    $("#grafico4").click(function(){
        $("#grafico4").addClass('enlace_seleccionado'); 
        $("#grafico1").removeClass('enlace_seleccionado');
        $("#grafico2").removeClass('enlace_seleccionado');
        $("#grafico3").removeClass('enlace_seleccionado');
        $("#grafico5").removeClass('enlace_seleccionado');
        $("#grafico6").removeClass('enlace_seleccionado');
    });

    $("#grafico5").click(function(){
        $("#grafico5").addClass('enlace_seleccionado'); 
        $("#grafico1").removeClass('enlace_seleccionado');
        $("#grafico2").removeClass('enlace_seleccionado');
        $("#grafico3").removeClass('enlace_seleccionado');
        $("#grafico4").removeClass('enlace_seleccionado');
        $("#grafico6").removeClass('enlace_seleccionado');
    });

    $("#grafico6").click(function(){
        $("#grafico5").addClass('enlace_seleccionado'); 
        $("#grafico1").removeClass('enlace_seleccionado');
        $("#grafico2").removeClass('enlace_seleccionado');
        $("#grafico3").removeClass('enlace_seleccionado');
        $("#grafico4").removeClass('enlace_seleccionado');
        $("#grafico5").removeClass('enlace_seleccionado');
    });
});
</script>
{%endblock%}
{% block contenido %}
<div id="contenedor_servicio">
    <a href="/salud" class="salud">Salud</a>
    <a href="/educacion" class="educacion">Educación</a>
    <a href="/agua"class="agua">Agua</a>
    <a href="/luz"class="luz">Luz</a>
</div>
    <div class="graficos_widget">
        <h1>Graficos </h1>
        <a id="grafico1" href="#" onCLick="click_callback('basura')">Forma de disponer la basura</a>
        <a id="grafico2" href="#" onCLick="click_callback('donde')">Donde hacen sus necesidades</a>
        <a id="grafico3" href="#" onCLick="click_callback('tratamiento')">Tratamiento de desechos</a>
        <a id="grafico4" href="#" onCLick="click_callback('frecuencia')">Frecuencia de limpieza</a>
        <a id="grafico5" href="#" onCLick="click_callback('envases')">Que hace con envases agroquímicos</a>
    </div>
<div id="grafo"></div>
<table>
 <thead>
    <tr>
        <th>Enfermedades</th>
        <th>%Socio o socia</th>
        <th>%Hijos o Hijas</th>
        <th>%Compañero o compañera</th>
    </tr>
 </thead>
    {% for fila in tabla%}
    <tr>
        {%for celda in fila%}
        <td>{{celda}}</td>
        {%endfor%}
    </tr>
    {%endfor%}
</table>
{% endblock %}
