{% extends "base.html" %}
{%load unslugify %}
{% block title %}Cecocafen - Salud Familiar{% endblock %}
{%block extra_header%}
<script type="text/javascript">
    //si activo es 0 el html interno esta vacio
    //caso si activo es otro num sustituir grafico
    //si activo es el mismo id, esconder grafico
    var activo = 0; 
    function click_callback(url, id){
        $.getJSON(url + id, function(data) {
            if (activo!= id){
                $("#grafo").html('<img src="' + data.url + '" />');
                activo = id;
            }else{
                $("#grafo").html('');
                activo = 0;
            }
        });
    }
    
    function click_cancer(id){
        click_callback('/grafo/cancer/', id);
    }
    
    function click_salud(id){
        click_callback('/grafo/salud/', id);
    }

    function click_mental(id){
        click_callback('/grafo/mental/', id);
    }

$(document).ready(function() {
    $("#grafico1").click(function(){
        $("a.enlace_seleccionado0o").removeClass('enlace_seleccionado0');
        $("#grafico1").addClass('enlace_seleccionado0');
    });
    
    $("#grafico2").click(function(){
        $("a.enlace_seleccionado0o").removeClass('enlace_seleccionado0');
        $("#grafico2").addClass('enlace_seleccionado0'); 
    });

    $("#grafico3").click(function(){
        $("a.enlace_seleccionado0o").removeClass('enlace_seleccionado0');
        $("#grafico3").addClass('enlace_seleccionado0'); 
    });
    $("#grafico4").click(function(){
        $("a.enlace_seleccionado0o").removeClass('enlace_seleccionado0');
        $("#grafico4").addClass('enlace_seleccionado0'); 
    });

    $("#grafico5").click(function(){
        $("a.enlace_seleccionado0o").removeClass('enlace_seleccionado0');
        $("#grafico5").addClass('enlace_seleccionado0'); 
    });

    $("#grafico6").click(function(){
        $("a.enlace_seleccionado0o").removeClass('enlace_seleccionado0');
        $("#grafico5").addClass('enlace_seleccionado0'); 
    });
});
</script>
{%endblock%}
{%block titulo%}Salud Familiar{%endblock%}

{% block contenido %}
<div id="contenedor_servicio">
    <a href="/salud_hogar" class="salud">Hogar</a>
    <a href="/salud_familiar"class="familia">Familia</a>
    <a href="/salud_mental"class="luz">Mental</a>
</div>
    <div class="graficos_widgeta">
        <h1>Gráficos Cáncer </h1>
        <a id="grafico6" href="#" onCLick="click_cancer(1)">¿Su pareja espera que le pida permiso antes de buscar atención medica para usted misma?</a>
        <a id="grafico7" href="#" onCLick="click_cancer(2)">¿Se ha realizado chequeos ginecológicos?</a>
        <a id="grafico8" href="#" onCLick="click_cancer(3)">¿Se ha realizado el PAP alguna vez?</a>
        <a id="grafico9" href="#" onCLick="click_cancer(4)">¿Cómo han sido los resultados de su PAP?</a>
        <a id="grafico10" href="#" onCLick="click_cancer(5)">¿Como ha hecho para tratarse los problemas que le han resultado del PAP?</a>
        <a id="grafico11" href="#" onCLick="click_cancer(6)">¿Actualmente tiene usted algún problema de salud reproductiva que le preocupe?</a> 
    </div>
<div id="grafo"></div>
<table>
<caption>Tabla salud Familiar</caption>
 <thead>
    <tr>
        <th>Enfermedades</th>
        <th>%Socio o socia</th>
        <th>%Hijos o Hijas</th>
        <th>%Compañero o compañera</th>
    </tr>
 </thead>
    {% for fila in tabla%}
    <tr>
        {%for celda in fila%}
        <td>{{celda}}</td>
        {%endfor%}
    </tr>
    {%endfor%}
</table>
<br><br><br><br>
{% endblock %}
