{% extends "base.html" %}
{% block title %}Cecocafen - salud{% endblock %}
{%block titulo%}Salud{%endblock%}
{% block contenido %}

                        <div id="contenedor_servicio">
                            <a href="/salud-hogar" class="salud">Hogar</a>
                            <a href="/salud-familiar"class="luz">Familia</a>
                            <a href="/salud-mental"class="luz">Mental</a>
                        </div>
                        <div class="separador"></div>
{% endblock %}
