{% extends "base.html"%}
{%load unslugify %}
{%block titulo%}La Seguridad Alimentaria{%endblock%}
{% block contenido %}
<table>
<caption>La Seguridad Alimentaria</caption>
 <thead>
    <tr>
        <th>ALIMENTOS</th>
<!--        <th>FRECUENCIA</th>-->
        <th>Producen</th>
        <th>%</th>
        <th>Compran</th>
        <th>%</th>
        <th>Consumen suficiente verano</th>
        <th>%</th>
        <th>Consumen suficiente invierno</th>
        <th>%</th>
    </tr>
 </thead>
    {%for key, value in tabla.items%}
    <tr>
        <td>{{key|unslugify}}</td>
<!--        <td>{{value.frecuencia|floatformat}}</td>-->
        <td>{{value.producen|floatformat}}</td>
        <td>{{value.por_producen|floatformat}}</td>
        <td>{{value.compran|floatformat}}</td>
        <td>{{value.por_compran|floatformat}}</td>
        <td>{{value.consumen|floatformat}}</td>
        <td>{{value.por_consumen|floatformat}}</td>
        <td>{{value.invierno|floatformat}}</td>
        <td>{{value.por_invierno|floatformat}}</td>
    </tr>
    {%endfor%}
</table>
{% endblock %}
