{% extends "base.html" %}
{%load unslugify %}
{% block title %}JFPS - Servicios Básicos{% endblock %}
{%block titulo%}Servicios Básicos{%endblock%}
{% block contenido %}

                        <div id="contenedor_servicio">
                            <a href="/salud" class="salud">Salud</a>
                            <a href="/educacion" class="educacion">Educación</a>
                            <a href="/agua"class="agua">Agua</a>
                            <a href="/luz"class="luz">Luz</a>
                        </div>
                        <div class="separador"></div>
{% endblock %}
