<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>{% block title %}Hoja spss para Educacion {% endblock %}</title>
</head>
<body>
{% block contenido %}
    <table>
        <tr>
            <!-- datos generales -->
            <th>Año</th>
            <th>Nombre entrevistado</th>
            <th>Cedula</th>
            <th>Sexo</th>
            <th>Cooperativa</th>
            <th>Nombre conyugue</th>
            <th>Cedula conyugue</th>
            <th>Nombre Finca</th>
            <th>Departamento</th>
            <th>Municipio</th>
            <th>Comunidad</th>
            <th>Tecnologia</th>
            <th>Certificacion</th>
            <!-- Organización -->
            {% if ayuda == '1' %}
                    <th>Soy socio o socia</th>
                    <th>Desde Cuando</th>
                    <th>Mi esposa/esposo es socio(a) de la cooperativa</th>
                    <th>Desde Cuando</th>
                    <th>Mis Hijos/hijas son socio(as) de la cooperativa</th>
                    <th>Desde Cuando</th>
                    <th>Beneficios obtenidos</th>
                    <th>Es miembro del consejo de administracion</th>
                    <th>Desde Cuando</th>
                    <th>El consejo Admon actual esta conformado por</th>
                    <th>Está de acuerdo que el consejo de Admón esté conformado por</th>
                    <th>Es miembro/a de las comisiones de trabajo</th>
                    <th>Desde Cuando</th>
                    <th>He recibido capacitación para desempeñar mi cargo</th>
                    <th>Desde Cuando</th>
                    <th>Si no es miembro de ninguna estructura, estaria interesado en asumir un cargo</th>
                    <th>Por qué quiere ser miembro consejo</th>
            {% endif %}
            
            <!-- migracion -->
            {% if ayuda == '2' %}
                {% for obj in tiposexo %}
                    <th>Sexo</th>
                    <th>Número total</th>
                    <th>Vive en casa</th>
                    <th>Vive en la comunidad</th>
                    <th>Vive fuera de la comunidad</th>
                    <th>Razones de migracion</th>
                {% endfor %}
            {% endif %}
            
            <!-- Energia-->
            {% if ayuda == '3' %}
                {% for obj in  campoCondi %}
                    <th>Preguntas</th>
                    <th>Respuestas</th>
                {% endfor %}
            {% endif %}
            
            <!-- Cocina -->
            {% if ayuda == '4' %}
                <th>Parcela (tierra)</th>
                <th>Cantidad de la parcela</th>
                <th>Solar (dónde está la vivienda)</th>
                <th>Cantidad del solar</th>
                <th>Documento legal de la propiedad, a nombre de quien</th>
            {% endif %}
            
            <!-- agua -->
            {% if ayuda == '5' %}
                {% for obj in  usotierra%}
                    <th>Tierra</th>
                    <th>Area</th>
                {% endfor %}
            {% endif %}
            
            <!-- Reforestacion -->
            {% if ayuda == '6' %}
                {% for obj in reforestacion2 %}
                    <th>Reforestación</th>
                    <th>Cantidad</th>
                {% endfor %}
            {% endif %}
            
            <!-- Conservacion -->
            {% if ayuda == '7' %}
                <th>¿Qué utiliza para cocinar</th>
                <th>Ha hecho alguna actividad para la conservación de los suelos y agua en su finca?</th>
                <th>Cuales?</th>
                <th>Cuanto</th>
            {% endif %}
            
            <!-- uso de tierra -->
            {% if ayuda == '8' %}
                {% for obj in  abono2%}
                    <th>Producto</th>
                    <th>Respuesta</th>
                    <th>Pulpa</th>
                    <th>Estiercol</th>
                    <th>Gallinaza</th>
                    <th>Composta</th>
                    <th>Lombrices</th>
                    <th>Bocachi</th>
                    <th>Foliar</th>
                    <th>Abono Verde</th>
                    <th>Hojas y rastrajos</th>
                    <th>15-15-15</th>
                    <th>20-20-20</th>
                    <th>18-6-12-4</th>
                    <th>Urea-Nitrato</th>

                {% endfor %}
            {% endif %}
            
            <!-- Existencia de arboles -->
            {% if ayuda == '9' %}
                {% for obj in  compra2%}
                    <th>Al año</th>
                    <th>Pulpa</th>
                    <th>Estiercol</th>
                    <th>Gallinaza</th>
                    <th>Composta</th>
                    <th>Lombrices</th>
                    <th>Bocachi</th>
                    <th>Foliar Organico</th>
                    <th>Unidad foliar organico</th>
                    <th>Foliar Quimico</th>
                    <th>Unidad foliar quimico</th>
                    <th>Abono Verde en qq</th>
                    <th>15-15-15</th>
                    <th>20-20-20</th>
                    <th>18-6-12-4</th>
                    <th>Urea-Nitrato</th>
                    
                {% endfor %}
            {% endif %}
            
            <!-- Reforestacion -->
            {% if ayuda == '10' %}
                {% for obj in cultivos2 %}
                    <th>Cultivo</th>
                    <th>Producción</th>
                    <th>Consumo</th>
                    <th>Venta libre</th>
                    <th>Venta organizada</th>
                {% endfor %}
            {% endif %}
            
            <!-- Animales en la finca -->
            {% if ayuda == '11' %}
                {% for obj in animales2 %}
                    <th>Animales</th>
                    <th>Cantidad</th>
                    <th>Producción</th>
                    <th>Consumo</th>
                    <th>Venta libre</th>
                    <th>Venta organizada</th>
                {% endfor %}
            {% endif %}
            
            <!-- cultivos en la finca -->
            {% if ayuda == '12' %}
                {% for obj in cultivos2 %}
                    <th>Producto</th>
                    <th>Responsable</th>
                    <th>Cantidad almacenada qq/und</th>
                    <th>Tipo de almacenaje</th>
                {% endfor %}
            {% endif %}
            
            <!-- uso del manejo -->
            {% if ayuda == '13' %}
                {% for obj in tipoproblema %}
                    <th>Problema</th>
                    <th>Solucion</th>
                {% endfor %}
            {% endif %}
            
            <!-- Ingreso familiar-->
            {% if ayuda == '14' %}
                {% for obj in rubro %}
                    <th>Tipo de rubro</th>
                    <th>Cantidad</th>
                    <th>Precio</th>
                    <th>Quien vendio</th>
                    <th>Quien maneja negocio</th>  
                {% endfor %}
            {% endif %}
            
            <!-- suelo -->
            {% if ayuda == '15' %}
                {% for obj in otrosingresos2 %}
                    <th>Fuente otros ingresos</th>
                    <th>Tipo</th>
                    <th>Meses</th>
                    <th>Ingreso</th>
                    <th>Quien tiene ingreso</th>
                {% endfor %}
            {% endif %}
            
            <!-- aporta en la finca -->
            {% if ayuda == '16' %}
                <th>¿Cuántas persona aportan con trabajo en la finca o económicamente?</th>
            {% endif %}
            
            <!-- ingreso familiar -->
            {% if ayuda == '17' %}
                {% for obj in destinar2 %}
                    <th>Servicio</th>
                    <th>Cuanto</th> 
                {% endfor %}
            {% endif %}
            <!-- tipo de casa -->
            {% if ayuda == '18' %}
                    <th>Tipo casa</th>
                    <th>Piso</th>
                    <th>Techo</th>
            {% endif %}
            
            <!-- detalle de la casa -->
            {% if ayuda == '19' %}
                <th>Tamaño de casa</th>
                <th>cuantos ambientes</th>
                <th>Tiene letrina</th>
                <th>Tiene lavadero</th>
            {% endif %}
            
            <!-- propiedades -->
            {% if ayuda == '20' %}
                {% for obj in equipo %}
                    <th>Equipos</th>
                    <th>Cantidad</th>
                    <th>Infraestructuras</th>
                    <th>Cantidad</th>
                {% endfor %}
            {% endif %}
            
            <!-- herramientas -->
            {% if ayuda == '21' %}
                {% for obj in herramienta %}
                    <th>Herramientas</th>
                    <th>Cantidad</th>
                {% endfor %}
            {% endif %}
            
            <!-- transporte -->
            {% if ayuda == '22' %}
                {% for obj in transporte2 %}
                    <th>Transportes</th>
                    <th>Cantidad</th>
                {% endfor %}
            {% endif %}
            
            <!-- Seguridad -->
             {% if ayuda == '23' %}
                {% for obj in seguridad2 %}
                    <th>Alimento</th>
                    <th>Producen</th>
                    <th>Compran</th>
                    <th>Consumen verano</th>
                    <th>Consumen invierno</th>
                {% endfor %}
            {% endif %}

              <!-- consumen -->
            {% if ayuda == '24' %}
                <th>¿Qué porcentaje de alimentos básicos que consume compra?</th>
                <th>¿Siente que en alguna ocasión no ha podido Cubrir sus necesidades básicas de alimentación?</th>
                <th>Si la respuesta es si porque motivo</th>
                <th>Meses</th>
                <th>¿Qué hace cuando los precios del café bajan?</th>
                <th>¿Por cuánto tiempo puede conseguir alimentos en ese sitio mientras dura la escasez?</th>
                <th>¿Utiliza riego en sus parcelas o huerto familiar?</th>
            {% endif %}
            
            <!-- ahorro -->
            {% if ayuda == '25' %}
                {% for obj in escasez2 %}
                    <th>¿Qué soluciones y practicas implementa en los tiempos de escasez?</th>
                    <th>Si consigue alimentos en la epoca de escasez ¿Donde consigue alimentos en la epoca de escasez</th>
                {% endfor %}   
            {% endif %}
            
            <!-- credito -->
            {% if ayuda == '26' %}
                {% for obj in produccionmaiz %}
                    <th>Producto</th>
                    <th>2007 en meses</th>
                    <th>2008 en meses</th>
                    <th>2009 en meses</th>
                    <th>2010 en meses</th>
                {% endfor %} 
            {% endif %}
            
            <!-- seguridad alimentaria -->
            {% if ayuda == '27' %}
                {% for obj in riego2 %}
                    <th>Lugar</th>
                    <th>Inundacion</th>
                    <th>Aspersion</th>
                    <th>Goteo</th>
                    <th>Regadera</th>
                    <th>Panada</th>
                    <th>Manguera</th>
                {% endfor %}
            {% endif %}
            
            <!-- vulnerable -->
            {% if ayuda == '28' %}
                {% for obj in fuente %}
                    <th>Fuente</th>
                    <th>Cantidad</th>
                    <th>La distancia de la fuente de la casa en VARAS</th>
                    <th>Disponibilidad de agua en tiempo</th>
                    <th>Calidad del agua</th>
                {% endfor %}
            {% endif %}
            
            <!-- ahorro -->
            {% if ayuda == '29' %}
                {% for obj in fuente %}
                    <th>Tiene ahorro en efectivo</th>
                    <th>Tiene ahorro en joyeria</th>
                    <th>Desde cuando ahorra</th>
                    <th>Ahorra a nombre de quien</th>
                    <th>Posee una cuenta de ahorro</th>
                    <th>¿Si no tiene ahorro, está interesado en ahorrar en una cuenta de ahorro</th>
                    <th>Donde prefereria hacer su ahorro</th>
                    <th>Porque?</th>
                {% endfor %}
            {% endif %}

              <!-- credito -->
            {% if ayuda == '30' %}
                    <th>Recibe Crédito</th>
                    <th>Desde cuando</th>
                    <th>De quien recibe crédito</th>
                    <th>Para que ocupa el crédito</th>
                    <th>Satisfacción de la demanda de crédito</th>
                    <th>Esta al dia con su Crédito</th>
            {% endif %}

            <!-- salud -->
            {% if ayuda == '31' %}
                    <th>Donde realiza sus necesidades usted y su familia?</th>
                    <th>Le da un tratamiento a los desechos humanos?</th>
                    <th>Cada cuanto hace limpieza alredor de su vivienda?</th>
                    <th>De que manera se deshacen de la basura?</th>
                    <th>Que hace con los envases de agroquímicos?</th>
            {% endif %}

              <!-- enfermedad -->
            {% if ayuda == '32' %}
                {% for obj in enfermedades %}
                    <th>Qué enfermedades crónicas padece usted o los miembros de su núcleo familiar?</th>
                    <th>Socio ó socias</th>
                    <th>Hijos ó Hijas</th>
                    <th>Compañero ó compañera</th>
                {% endfor %}     
            {% endif %}

              <!-- cancer -->
            {% if ayuda == '33' %}
                {% for obj in pcancer %}
                    <th>Pregunta</th>
                    <th>Respuesta</th>
                    <th>Cual?</th>
                {% endfor %}     
            {% endif %}

              <!-- mental -->
            {% if ayuda == '34' %}
                {% for obj in pmental %}
                    <th>Pregunta</th>
                    <th>Respuesta</th>
                {% endfor %}     
            {% endif %}

             <!-- educacion jovenes -->
            {% if ayuda == '35' %}
                {% for obj in edu_jovenes %}
                    <th>Persona</th>
                    <th>Numero total</th>
                    <th># No sabe leer</th>
                    <th># primaria incompleta</th>
                    <th># primaria completa</th>
                    <th># secundaria incompleta</th>
                    <th># secundaria completa</th>
                    <th># Técnica o universitaria</th>
                    <th># estudiando actualmente</th>
                    <th># estudiando actualmente con beca</th>
                {% endfor %}     
            {% endif %}

            <!-- jovenes -->
            {% if ayuda == '36' %}
                    <th>Soy socio o socia</th>
                    <th>Desde Cuando</th>
                    <th>Es promotor de su cooperativa?</th>
                    <th>Beneficios obtenidos</th>
                    <th>Es miembro del consejo de administracion</th>
                    <th>Desde Cuando</th>
                    <th>El consejo Admon actual esta conformado por</th>
                    <th>El consejo de admón debe conformarse por</th>
                    <th>Es miembro/a de las comisiones de trabajo</th>
                    <th>Desde Cuando</th>
                    <th>He recibido capacitación para desempeñar mi cargo</th>
                    <th>Desde Cuando</th>
                    <th>Si no es miembro de ninguna estructura, estaria interesado en asumir un cargo</th>
                    <th>Quiero ser miembro del consejo admin o comisión</th>
            {% endif %}
            
        </tr>
    {% for obj in resultados  %}
    <tr>
        {% for data in obj %}
            <td>{{data}}</td>
        {% endfor %}
    </tr>
    {% endfor %}

</table>
{% endblock contenido %}
</body>
</html>