<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>{% block title %}Hoja spss para Educacion {% endblock %}</title>
</head>
<body>
{% block contenido %}
    <table>
        <tr>
            <!-- datos generales -->
            <th>Año</th>
            <th>Nombre entrevistado</th>
            <th>Cedula</th>
            <th>Sexo</th>
            <th>Cooperativa</th>
            <th>Nombre conyugue</th>
            <th>Cedula conyugue</th>
            <th>Nombre Finca</th>
            <th>Departamento</th>
            <th>Municipio</th>
            <th>Comunidad</th>
            <th>Tecnologia</th>
            <th>Certificacion</th>
            <!-- Organización -->
            {% if ayuda == '1' %}
                    <th>Soy socio o socia</th>
                    <th>Desde Cuando</th>
                    <th>Mi esposa/esposo es socio(a) de la cooperativa</th>
                    <th>Desde Cuando</th>
                    <th>Mis Hijos/hijas son socio(as) de la cooperativa</th>
                    <th>Desde Cuando</th>
                    <th>Beneficios obtenidos</th>
                    <th>Es miembro del consejo de administracion</th>
                    <th>Desde Cuando</th>
                    <th>El consejo Admon actual esta conformado por</th>
                    <th>Está de acuerdo que el consejo de Admón esté conformado por</th>
                    <th>Es miembro/a de las comisiones de trabajo</th>
                    <th>Desde Cuando</th>
                    <th>He recibido capacitación para desempeñar mi cargo</th>
                    <th>Desde Cuando</th>
                    <th>Si no es miembro de ninguna estructura, estaria interesado en asumir un cargo</th>
                    <th>Por qué quiere ser miembro consejo</th>
            {% endif %}
            
            <!-- migracion -->
            {% if ayuda == '2' %}
                {% for obj in tiposexo %}
                    <th>Sexo</th>
                    <th>Número total</th>
                    <th>Vive en casa</th>
                    <th>Vive en la comunidad</th>
                    <th>Vive fuera de la comunidad</th>
                    <th>Razones de migracion</th>
                {% endfor %}
            {% endif %}
            
            <!-- Energia-->
            {% if ayuda == '3' %}
                {% for obj in  campoCondi %}
                    <th>Preguntas</th>
                    <th>Respuestas</th>
                {% endfor %}
            {% endif %}
            
            <!-- Cocina -->
            {% if ayuda == '4' %}
                <th>Parcela (tierra)</th>
                <th>Cantidad de la parcela</th>
                <th>Solar (dónde está la vivienda)</th>
                <th>Cantidad del solar</th>
                <th>Documento legal de la propiedad, a nombre de quien</th>
            {% endif %}
            
            <!-- agua -->
            {% if ayuda == '5' %}
                {% for obj in  usotierra%}
                    <th>Tierra</th>
                    <th>Area</th>
                {% endfor %}
            {% endif %}
            
            <!-- Reforestacion -->
            {% if ayuda == '6' %}
                {% for obj in reforestacion2 %}
                    <th>Reforestación</th>
                    <th>Cantidad</th>
                {% endfor %}
            {% endif %}
            
            <!-- Conservacion -->
            {% if ayuda == '7' %}
                <th>¿Qué utiliza para cocinar</th>
                <th>Ha hecho alguna actividad para la conservación de los suelos y agua en su finca?</th>
                <th>Cuales?</th>
                <th>Cuanto</th>
            {% endif %}
            
            <!-- uso de tierra -->
            {% if ayuda == '8' %}
                {% for obj in  abono2%}
                    <th>Producto</th>
                    <th>Respuesta</th>
                    <th>Pulpa</th>
                    <th>Estiercol</th>
                    <th>Gallinaza</th>
                    <th>Composta</th>
                    <th>Lombrices</th>
                    <th>Bocachi</th>
                    <th>Foliar</th>
                    <th>Abono Verde</th>
                    <th>Hojas y rastrajos</th>
                    <th>15-15-15</th>
                    <th>20-20-20</th>
                    <th>18-6-12-4</th>
                    <th>Urea-Nitrato</th>

                {% endfor %}
            {% endif %}
            
            <!-- Existencia de arboles -->
            {% if ayuda == '9' %}
                {% for obj in  compra2%}
                    <th>Al año</th>
                    <th>Pulpa</th>
                    <th>Estiercol</th>
                    <th>Gallinaza</th>
                    <th>Composta</th>
                    <th>Lombrices</th>
                    <th>Bocachi</th>
                    <th>Foliar Organico</th>
                    <th>Unidad foliar organico</th>
                    <th>Foliar Quimico</th>
                    <th>Unidad foliar quimico</th>
                    <th>Abono Verde en qq</th>
                    <th>15-15-15</th>
                    <th>20-20-20</th>
                    <th>18-6-12-4</th>
                    <th>Urea-Nitrato</th>
                    
                {% endfor %}
            {% endif %}
            
            <!-- Reforestacion -->
            {% if ayuda == '10' %}
                {% for obj in cultivos2 %}
                    <th>Cultivo</th>
                    <th>Producción</th>
                    <th>Consumo</th>
                    <th>Venta libre</th>
                    <th>Venta organizada</th>
                {% endfor %}
            {% endif %}
            
            <!-- Animales en la finca -->
            {% if ayuda == '11' %}
                {% for obj in animales2 %}
                    <th>Animales</th>
                    <th>Cantidad</th>
                    <th>Producción</th>
                    <th>Consumo</th>
                    <th>Venta libre</th>
                    <th>Venta organizada</th>
                {% endfor %}
            {% endif %}
            
            <!-- cultivos en la finca -->
            {% if ayuda == '12' %}
                {% for obj in cultivos2 %}
                    <th>Producto</th>
                    <th>Responsable</th>
                    <th>Cantidad almacenada qq/und</th>
                    <th>Tipo de almacenaje</th>
                {% endfor %}
            {% endif %}
            
            <!-- uso del manejo -->
            {% if ayuda == '13' %}
                {% for obj in tipoproblema %}
                    <th>Problema</th>
                    <th>Solucion</th>
                {% endfor %}
            {% endif %}
            
            <!-- Ingreso familiar-->
            {% if ayuda == '14' %}
                {% for obj in rubro %}
                    <th>Tipo de rubro</th>
                    <th>Cantidad</th>
                    <th>Precio</th>
                    <th>Quien vendio</th>
                    <th>Quien maneja negocio</th>  
                {% endfor %}
            {% endif %}
            
            <!-- suelo -->
            {% if ayuda == '15' %}
                {% for obj in otrosingresos2 %}
                    <th>Fuente otros ingresos</th>
                    <th>Tipo</th>
                    <th>Meses</th>
                    <th>Ingreso</th>
                    <th>Quien tiene ingreso</th>
                {% endfor %}
            {% endif %}
            
            <!-- aporta en la finca -->
            {% if ayuda == '16' %}
                <th>¿Cuántas persona aportan con trabajo en la finca o económicamente?</th>
            {% endif %}
            
            <!-- ingreso familiar -->
            {% if ayuda == '17' %}
                {% for obj in destinar2 %}
                    <th>Servicio</th>
                    <th>Cuanto</th> 
                {% endfor %}
            {% endif %}
            <!-- tipo de casa -->
            {% if ayuda == '18' %}
                    <th>Tipo casa</th>
                    <th>Piso</th>
                    <th>Techo</th>
            {% endif %}
            
            <!-- detalle de la casa -->
            {% if ayuda == '19' %}
                <th>Tamaño de casa</th>
                <th>cuantos ambientes</th>
                <th>Tiene letrina</th>
                <th>Tiene lavadero</th>
            {% endif %}
            
            <!-- propiedades -->
            {% if ayuda == '20' %}
                {% for obj in equipo %}
                    <th>Equipos</th>
                    <th>Cantidad</th>
                    <th>Infraestructuras</th>
                    <th>Cantidad</th>
                {% endfor %}
            {% endif %}
            
            <!-- herramientas -->
            {% if ayuda == '21' %}
                {% for obj in herramienta %}
                    <th>Herramientas</th>
                    <th>Cantidad</th>
                {% endfor %}
            {% endif %}
            
            <!-- transporte -->
            {% if ayuda == '22' %}
                {% for obj in transporte2 %}
                    <th>Transportes</th>
                    <th>Cantidad</th>
                {% endfor %}
            {% endif %}
            
            <!-- Seguridad -->
             {% if ayuda == '23' %}
                {% for obj in seguridad2 %}
                    <th>Alimento</th>
                    <th>Producen</th>
                    <th>Compran</th>
                    <th>Consumen verano</th>
                    <th>Consumen invierno</th>
                {% endfor %}
            {% endif %}
            
            <!-- ahorro -->
            {% if ayuda == '24' %}
                {% for obj in ahorro %}
                    <th>Pregunta ahorro</th>
                    <th>Respuesta</th>
                {% endfor %}
            {% endif %}
            
            <!-- credito -->
            {% if ayuda == '25' %}
                <th>Recibe credito</th>
                <th>Desde cuando</th>
                <th>Quien le otorga credito</th>
                <th>Para que ocupa el credito</th>
                <th>Satisfacción</th>
                <th>Esta al dia con su credito</th>
            {% endif %}
            
            <!-- seguridad alimentaria -->
            {% if ayuda == '26' %}
                {% for obj in seguridad %}
                    <th>Alimento</th>
                    <th>Producen</th>
                    <th>Compran</th>
                    <th>Consumen verano</th>
                    <th>Consumen invierno</th>
                {% endfor %}
            {% endif %}
            
            <!-- vulnerable -->
            {% if ayuda == '27' %}
                {% for obj in fenomeno %}
                    <th>Motivo vulnerable</th>
                    <th>Respuestas</th>
                {% endfor %}
            {% endif %}
            
            <!-- riesgos -->
            {% if ayuda == '28' %}
                {% for obj in riesgos %}
                    <th>Riesgos preguntas</th>
                    <th>Respuestas</th>
                {% endfor %}
            {% endif %}
            <!-- tenencia -->
            {% if ayuda == '29' %}
                <th>Tenencia parcel</th>
                <th>Tenecia solar</th>
                <th>Dueño</th>
            {% endif %}
            
        </tr>
    {% for obj in resultados  %}
    <tr>
        {% for data in obj %}
            <td>{{data}}</td>
        {% endfor %}
    </tr>
    {% endfor %}

</table>
{% endblock contenido %}
</body>
</html>